body{
    font-family: 'Trattatello', fantasy;
    text-align: center;
    color: rgb(50, 50, 50);
    font-weight: bold;
    letter-spacing: 1px;
    background: url('дф\ зшяяукшф.png');
    background-size: cover;
    background-position: center;
}


p{
  font-size: 35px;
  top: 50%
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}



.container_h3{
    margin-bottom: 10px;
    padding: 30px;
    max-width: 1200px;
}

.start-btn{
  background: linear-gradient(to right, #fff700, #002aff);
    font-size: 30px;
    text-align: center;
    padding: .5em;
    border: 3px inset rgb(116, 165, 221);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(228, 225, 225, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    bottom: 200px;
    position: absolute;
    top: 65%; 
    left: 50%;
    transform: translateX(-50%);
}

.start-btn:hover {
    background: linear-gradient(to left, #fff700, #002aff);
    color: white;
    border: 3px inset rgb(226, 225, 155);
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(192, 192, 192, 0.15);
    transform: scale(1.05);
    position: absolute;
    top: 65%; 
    left: 50%;
    transform: translateX(-50%);
}

.start-btn:active{
    background: linear-gradient(to right, #002aff, #fff700);
    transform: scale(o.97);
}

.start-btn:focus{
    outline: 3px solid rgba(255, 255, 255, 0.5); 
    background: linear-gradient(to right, #f6bde3, #ffffff);
}

.float-bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: -1;
}

.pelmeny {
  position: absolute;
  width: 350px;
  height: auto;
  bottom: 25%;
  
}

.pelmeny {
  position: absolute;
  top: 20px;
  right: 30px;
  animation: rotate-and-scale 4s linear infinite;
}

@keyframes rotate-and-scale{
 0%
   {transform: rotate(45deg) translateX(0) scale(1);}
 25% 
   {transform: rotate(0deg) translateX(0) scale(1);}
 50%
   {transform: rotate(-45deg) translateX(0) scale(1);}
 75%
   {transform: rotate(0deg) translateX(0) scale(1);}
 100%
   {transform: rotate(45deg) translateX(0) scale(1);}
}



.borsh {
  position: absolute;
  width: 350px;
  height: auto;
  bottom: 25%;
}

.borsh {
  position: absolute;
  bottom: 8%; 
  left: 0;
 animation: scale-and-rotate 4s linear infinite;
}

@keyframes scale-and-rotate{
 0%
   {transform: rotate(-45deg) translateX(0) scale(1);}
 25% 
   {transform: rotate(0deg) translateX(0) scale(1);}
 50%
   {transform: rotate(45deg) translateX(0) scale(1);}
 75%
   {transform: rotate(0deg) translateX(0) scale(1);}
 100%
   {transform: rotate(-45deg) translateX(0) scale(1);}
}

